body {
    margin: 0;
}

.dnd-container {
    width: 100vw;
    height: 100vh;
    background-image:
            linear-gradient(to right, #e0e0e0 1px, transparent 1px),
            linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 50px 50px;
    position: relative;
    overflow: auto;
}

.grid-highlight {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.3);
    pointer-events: none;
}

.grid-highlight-overlap {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.3);
    pointer-events: none;
}